/cpplint.py
/quadruped/*.o
/quadruped/bin/*.exe
/quadruped/bin/*.so
/stream.txt
/quadruped/session
/quadruped/tags
/quadruped/bin
/hmatrix_visualizer/*.dll
*.pyc
*.pdf
*.csv
*.s#*
*.b#*
/quadruped/doc
/quadruped/log.txt
/hmatrix_visualizer/log.txt