<quadruped>
    <leg id="0">
        <pivot id="0" rotx="0" roty="0" rotz=".78539816339" offset="0.0" abs_max="0.52359877559">
            <pos x="3.8" y="5.8" z="0.0"/>
        </pivot>
        <!-- pivot one is defined mirrored in its own z because its frame is the horn instead of the servo body -->
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0" offset="-0.11" abs_max="0.52359877559">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="3.14159" rotz="0" offset="-0.08" abs_max="0.52359877559">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0" offset="0.0" abs_max="0.52359877559">
            <pos x="0" y="-10" z="0"/>
        </pivot>
    </leg>
    <leg id="1">
        <pivot id="0" rotx="0" roty="0" rotz="2.35619449019" offset="0.0" abs_max="0.52359877559">
            <pos x="-3.8" y="5.8" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0" offset="0.06" abs_max="0.52359877559">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="3.14159" rotz="0" offset="0.22" abs_max="0.52359877559">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0" offset="0.0" abs_max="0.52359877559">
            <pos x="0" y="-10" z="0"/>
        </pivot>
    </leg>
    <leg id="2">
        <pivot id="0" rotx="0" roty="0" rotz="-2.35619449019" offset="0.0" abs_max="0.52359877559">
            <pos x="-3.8" y="-5.8" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0" offset="0.03" abs_max="0.52359877559">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="3.14159" rotz="0" offset="-0.22" abs_max="0.52359877559">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0" offset="0.0" abs_max="0.52359877559">
            <pos x="0" y="-10" z="0"/>
        </pivot>
    </leg>
    <leg id="3">
        <pivot id="0" rotx="0" roty="0" rotz="-.78539816339" offset="0.0" abs_max="0.52359877559">
            <pos x="3.8" y="-5.8" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0" offset="-0.08" abs_max="0.52359877559">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="3.14159" rotz="0" offset="-0.09" abs_max="0.52359877559">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0" offset="0.0" abs_max="0.52359877559">
            <pos x="0" y="-10" z="0"/>
        </pivot>
    </leg>
    <gaitgenerator 
      HLlength="12.0"
      transfer_speed1="1"
      transfer_speed2="1"
      transfer_speed3="1"
      ASM_min="0.0"
      ground_clearance="0.1"
      search_width="12.0"
    />
</quadruped>
