<quadruped>
    <leg id="0">
        <pivot id="0" rotx="0" roty="0" rotz=".78539816339">
            <pos x="5.37" y="5.37" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="0" rotz="-1.57079632679">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0">
            <pos x="10" y="0" z="0"/>
        </pivot>
    </leg>
    <leg id="1">
        <pivot id="0" rotx="0" roty="0" rotz="2.35619449019">
            <pos x="-5.37" y="5.37" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="0" rotz="-1.57079632679">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0">
            <pos x="10" y="0" z="0"/>
        </pivot>
    </leg>
    <leg id="2">
        <pivot id="0" rotx="0" roty="0" rotz="-2.35619449019">
            <pos x="-5.37" y="-5.37" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="0" rotz="-1.57079632679">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0">
            <pos x="10" y="0" z="0"/>
        </pivot>
    </leg>
    <leg id="3">
        <pivot id="0" rotx="0" roty="0" rotz="-.78539816339">
            <pos x="5.37" y="-5.37" z="0.0"/>
        </pivot>
        <pivot id="1" rotx="1.57079632679" roty="0" rotz="0">
            <pos x="3.6" y="0" z="0"/>
        </pivot>
        <pivot id="2" rotx="0" roty="0" rotz="-1.57079632679">
            <pos x="6.8" y="0" z="0"/>
        </pivot>
        <pivot id="3" rotx="0" roty="0" rotz="0">
            <pos x="10" y="0" z="0"/>
        </pivot>
    </leg>
</quadruped>